:root {
    --custom-red: rgb(138, 3, 3);
    --primary-color: rgb(229, 171, 13);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    background-color: rgba(0, 0, 0, 0.72);
    max-width: 50%;
    margin: auto auto 1%;
    width: 50%;
    padding: 6% 8% 6%;
}

.title, .footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1%;
    margin-top: 0;

}

label {
    font-family: "Lucida Console", Courier, monospace;
}

.input {
    min-width: 6%;
    margin-outside: 1%;
}
.containerCard {
    background-color: rgba(0, 0, 0, 0.72);
    margin:auto;
}
.price {
    color: var(--primary-color);
    font-size: 22px;
    text-shadow: 0 1px 0 rgba(255, 210, 0, 0);
}

.cardButton {
    border: none;
    outline: 0;
    color:black;
    background-color:var(--primary-color) !important;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.information{
    color:var(--primary-color);
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 210, 0, 0);

}
/* Float four columns side by side */
.column {
    width: 30%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: auto}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    padding: 16px;
    text-align: center;
    background-color: #000000;
}
.cardH1{
    color: var(--primary-color) ;
    text-shadow: 0 1px 0 rgba(255, 210, 0, 0);

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.link-footer{
    color: var(--primary-color) ;
}
