
:root {
    --custom-red: rgb(138, 3, 3);
    --primary-color: rgb(229, 171, 13);
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--primary-color) !important;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
    color:var(--primary-color);
}

.ui-page {
    background-image: url("../img/ferrari01.jpg");
    image-resolution: snap;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.72);
    max-width: 50%;
    margin: auto auto 1%;
    width: 50%;
    padding: 6% 8% 6%;
    min-height: 100%;
}

.title, .footer {
    text-align: center;
    background-color: black;
    color: var(--primary-color) !important;
    padding: 1%;
    margin-top: 0;
    text-shadow: 0 1px 0 rgba(255, 210, 0, 0);


}

label {
    font-family: "Lucida Console", Courier, monospace;
    color: var(--primary-color);
}

.input {
    min-width: 6%;
    margin-outside: 1%;
}
.containerCard {
    background-color: rgba(0, 0, 0, 0.72);
    margin:auto;
}
.price {
    color: var(--primary-color);
    font-size: 22px;
    text-shadow: 0 1px 0 rgba(255, 210, 0, 0);
}

.cardButton {
    border: none;
    outline: 0;
    color:black;
    background-color: var(--primary-color) !important;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.information{
    color: var(--primary-color);
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 210, 0, 0);

}
/* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}
.columnBought {
    width: 50%;
    padding: 0 10px;
    margin: auto;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 5% 5% 5% 5%;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card{
    padding: 16px;
    text-align: center;
    background-color: #000000;
    height: 100%;
}
.cardH1{
    color: var(--primary-color) ;
    text-shadow: 0 1px 0 rgba(255, 210, 0, 0);

}
.link-footer{
    color: var(--primary-color) !important;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
